<h1>Tambah</h1>
<%= form_tag("/cars/create") do %>
<label>merk</label><input type="text" name ="merk">
<label>publish</label><input type="text" name ="publish">
<label>harga</label><input type="text" name ="harga">	
<input type="submit" value ="Simpan">
<% end %>